<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test name="Test">
		<classes>
			<class name="testcases.US18_16_17_TDM_Original_AssociatedDocsView" />
			<class name="testcases.US18_5_6_7_TDM_PO_Invoice_DO_Tabs" />
			<class name="testcases.US18_10_11_12_13_14_15_TDM_ViewAllDO" />
			<class name="testcases.US18_2_3_4_TDMFromNavigation" />
			<class name="testcases.US18_20_IncomingDOStatusChangeToDelivered" />
			<class name="testcases.US18_21_ViewAddSubDocumentWeighbridge" />
			<class name="testcases.US18_US18_22_ViewAddSubDocumentFFBQuality" />
			<class name="testcases.US18_US18_3_AddNewFFBQuality" />
			<class name="testcases.US18_3_AddNewWeighbridgeTicket" />
			
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
